@{
    Layout = "_LayoutTaskCrud";
    ViewData["Title"] = "Home Page";
}


    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-6">
            <button type="submit" class="btn btn-success" style="width:100%;">Kaydet</button>
        </div>
    </div>